version: '3'

services:
  db:
    image: 'postgis/postgis:latest'

    ports:
      - 5432:5432

    env_file:
      - .env 
     
    volumes:
      - ./db-data/:/var/lib/postgresql/data/

  
  pgadmin:
    image: dpage/pgadmin4
    ports:
      - 15433:80
    env_file:
      - .env
    depends_on:
      - db
    networks:
      - postgres-network
    volumes:
      - ./pgadmin-data/:/var/lib/pgadmin/

networks:
  postgres-network:
    driver: bridge
