apiVersion: batch/v1
kind: Job
metadata:
  annotations:
    kompose.cmd: /tmp/kompose convert -f ../docker-compose.yml
    kompose.version: 1.35.0 (9532ceef3)
  labels:
    io.kompose.service: db-init
  name: db-init
spec:
  template:
    metadata:
      labels:
        io.kompose.service: db-init
    spec:
      containers:
        - env:
            - name: DB_HOST
              value: db
            - name: POSTGRES_DB
              valueFrom:
                configMapKeyRef:
                  key: POSTGRES_DB
                  name: env
            - name: POSTGRES_PASSWORD
              valueFrom:
                secretKeyRef:
                  key: POSTGRES_PASSWORD
                  name: db-secret
            - name: POSTGRES_USER
              valueFrom:
                configMapKeyRef:
                  key: POSTGRES_USER
                  name: env
          image: 2024_hex_dashboard-db-init:latest
          imagePullPolicy: IfNotPresent
          name: db-init
      restartPolicy: Never
