apiVersion: apps/v1
kind: Deployment
metadata:
  name: api
spec:
  replicas: 1
  selector:
    matchLabels:
      app: api
  template:
    metadata:
      labels:
        app: api
    spec:
      securityContext:
        runAsNonRoot: true
        {{- if .Values.restrictedSCC }}
        runAsUser: 1000700000
        runAsGroup: 1000700000
        fsGroup: 1000700000
        {{- end }}
      containers:
        - name: api
          image: {{ .Values.image.repository }}:ostrea-api-{{ .Values.image.tag }}
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          securityContext:
            allowPrivilegeEscalation: false
          envFrom:
            - configMapRef:
                name: ostrea-config
            - secretRef:
                name: db-secret
          resources:
            requests:
              cpu: 250m
              memory: 256Mi
            limits:
              cpu: 1000m
              memory: 1Gi
      restartPolicy: Always
